.status-bagde,
.manager-belum-verifikasi,
.user-status,
.requestor-verifikasi,
.requestor-reviewer,
.user-request,
.status-bagde {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-na1  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-a1 {
        background: #9bface;
        color: #256029;
    }
    &.status-na2  {
        background: #f1a598;
        color:  #C63737;
    }

    &.status-a2 {
        background: #9bface;
        color: #256029;
    }
    &.status-rt  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-ra1  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-ra2  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-rr  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-d {
        background: #9bface;
        color: #256029;
    }
    &.status-c {
        background: #9bface;
        color: #256029;
    }
    &.status-nt  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-t {
        background: #9bface;
        color: #256029;
    }
    &.status-p {
        background: #9bface;
        color: #256029;
    }

} 
.manager-sudah-verifikasi {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-a2 {
        background: #9bface;
        color: #256029;
    }

    &.status-a1 {
        background: #9bface;
        color: #256029;
    }
}
.manager-belum-verifikasi {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-na1  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-na2  {
        background: #f1a598;
        color:  orangered;
    }
}
.user-status {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-f  {
        background: #f1a598;
        color:  #C63737;
    }

    &.status-t {
        background: #9bface;
        color: #256029;
    }
}
.requestor-reviewer {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-na2  {
        background: #f1a598;
        color:  #C63737;
    }

    &.status-na1 {
        background: #f1a598;
        color: #C63737;
    }
}
.requestor-verifikasi {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-a1  {
        background: #9bface;
        color: #256029;
    }

    &.status-a2 {
        background: #9bface;
        color: #256029;
    }
}
.user-request {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-rr  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-ra1  {
        background: #f1a598;
        color:  #C63737;
    }
    &.status-ra2  {
        background: #f1a598;
        color:  #C63737;
    }

    &.status-p {
        background: #9bface;
        color: #256029;
    }
    &.status-a1 {
        background: #9bface;
        color: #256029;
    }
    &.status-a2 {
        background: #9bface;
        color: #256029;
    }
    &.status-na1 {
        background: #f1a598;
        color: #C63737;
    }
    &.status-na2 {
        background: #f1a598;
        color: #C63737;
    }
    &.status-c {
        background: #9bface;
        color: #256029;
    }
    &.status-d {
        background: #9bface;
        color: #256029;
    }
    &.status-p {
        background: #9bface;
        color: #256029;
    }
}
